img {
    width: 60%;
    height: 400px;
  
}

.bookStruct {
    display: flex;
    margin: 5px;
    margin-bottom: 30px;
    padding: 2px;
   justify-content: center;

}

.card {
    border-radius: 20px;
}

.card-heading {
    border-radius: 20px 20px 0px 0px;
}

.card-title {
    margin: 5px;
}

.back {
    margin-bottom: 10px;
}
.buy {
    margin-top: 10px;
}

.main {
    margin-top: 50px;
}